/*** Panel ***/

.contentbg{
	background:url("../../public/img/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.panel.custompanel{
	background-color:transparent;
}

.panel-default.custompanel{
  border:none;
}

.panel.custompanel .panel-heading{
  color:#fff;
  text-align: center;
  font-size:1.8em;
  font-weight: bold;
  border:none;
  border-top:10px solid #FF9621;
  background-color:rgba(29, 127, 170, 0.8);
  margin-top:40px;
  border-radius: 0px;
}

.panel.custompanel .panel-body{
  background-color:rgba(29, 127, 170, 0.8);
  color:#fff;
}

/*** Create-project view ***/

.create-project .socialmedia .facebook{
	background-color:#338CC8;
	border: 1px solid #ccd0d2;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100%;
	height: 36px;
	padding: 6px 12px;
}
.create-project .socialmedia .youtube{
	margin-top:15px;
	background-color:#C84635;
	border: 1px solid #ccd0d2;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100%;
	height: 36px;
	padding: 6px 12px;
}