@font-face {
    font-family: titleFont;
    src: url("../fonts/Phosphate-Solid.ttf") format("truetype");
}
@font-face {
    font-family: RalewayThin;
    src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}
@font-face {
    font-family: RalewayRegular;
    src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
@font-face {
    font-family: RalewayBold;
    src: url("../fonts/Raleway-SemiBold.ttf") format("truetype");
}

html,
body{
  font-family: RalewayRegular, sans-serif;
  height: 100vh;
  margin: 0;
}

.large-text{
  font-size:70px;
  margin-bottom:20px;
  display: block;
  color:#fff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.large-text{
  font-size:70px;
  margin-bottom:20px;
  display: block;
  color:#fff;
}

.float-right{
  float: right;
}

/*** Navigation ***/

.navbar.navbar-default.navbar-static-top{background-color:#1D7FAA;}

.navbar{margin-bottom:0px !important;}

.navbar-collapse.collapse ul li a{color:#fff;}

.navbar .navbar-brand{
  font-family: titleFont;
  font-size:30px;
  color:#fff !important;
}
.navbar > .container .navbar-brand{margin-left:0px !important;}

.navbar .navbar-header .navbar-toggle{background-color:transparent;}
.navbar .navbar-header .navbar-toggle{border:1px solid #FF9621;  }
.navbar .navbar-header .navbar-toggle .icon-bar{background-color:#fff;}
.navbar .navbar-header .navbar-toggle:hover{background-color:#FF9621;}
/* Collapsed */
.navbar-collapse.collapse.in li a{
  padding-left:15px !important;
  margin-right:15px;
  margin-left:15px;
}

.navbar-collapse.collapse .navbar-right li:nth-child(2) a{
  background-color:#FCA94C;
  border-radius:5px;
  padding:5px;
  margin-top:7px;
  margin-right:20px;
}
.navbar-collapse.collapse .navbar-right li:nth-child(2) a:hover,
.navbar-collapse.collapse .navbar-right li:nth-child(1) a:hover{
  font-weight: bold;
  color:#fff;
}

/*
ul.dropdown-menu{
  background-color:#1D7FAA;
  border:none !important; 
}

ul.dropdown-menu li a:hover{
  background-color:#1D7FAA;
  font-weight: bold;
}

ul.nav.navbar-nav.navbar-right a.dropdown-toggle{
  background-color:#1D7FAA !important;
}
ul.nav.navbar-nav a{color:#fff !important;}
*/

/*** Buttons ***/

.button{
  background-color:#FF9621;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:3px;
}
a.button{
  text-decoration: none;
  color:#fff;
}
.button:hover{
  background-color:#FCA94C;
}

.button{
  background-color:#FF9621;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
}

a.button{text-decoration: none;color:#fff;}
.button:hover{background-color:#FCA94C;}

.btn.btn-primary.white{
  background-color:#F2F2F2;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  color:#1D7FAA;
  font-weight: bold;
}
a.btn.btn-primary.white{
  text-decoration: none;
  color:#1D7FAA;
  font-weight: bold;
}
.btn.btn-primary.white:hover{
  background-color:#FF9621;
  color:#fff;
  border:1px solid #fff;
}

.large-text{
  font-size:60px;
  margin-bottom:20px;
  color:#fff;
}

.icon-menu{
  background-color: #62ABCB;
}

.icon-menu:hover{
  background-color: #f5f8fa;
  cursor: pointer;
}

.icon-options{
  margin-right: 50px;
}

/*** Reset margin and padding ***/

/*** Seperators ****/

hr.horizontal-break, hr.break {
    width: 50px;
    margin: 20px auto;
    display: block;
    height: 3px;
    background: #FF9621;
    border: none;
}