@font-face {
    font-family: titleFont;
    src: url("../fonts/Phosphate-Solid.ttf") format("truetype");
}
html,
body{
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0;
}

.large-text{
  font-size:70px;
  margin-bottom:20px;
  display: block;
  color:#fff;
}

/*** Navigation ***/

.navbar.navbar-default.navbar-static-top{
  background-color:#1D7FAA;
}

.navbar{
  margin-bottom:0px !important;
  border-bottom:0px !important;
}

.navbar .navbar-brand{
  font-family: titleFont;
  font-size:30px;
  color:#fff !important;
}
.navbar > .container .navbar-brand{
  margin-left:0px !important;
}

ul.nav.navbar-nav.navbar-right li:nth-child(2) a{
  background-color:#FCA94C;
  border-radius:5px;
  padding:5px;
  margin-top:7px;
  margin-right:20px;
}
ul.nav.navbar-nav.navbar-right li:nth-child(2) a:hover{
  font-weight: bold;
}
ul.nav.navbar-nav.navbar-right li:nth-child(1) a:hover{
  font-weight: bold;
}
ul.dropdown-menu{
  background-color:#1D7FAA;
  border:none !important;
  
}
ul.dropdown-menu li a:hover{
  background-color:#1D7FAA;
  font-weight: bold;
  
}
ul.nav.navbar-nav.navbar-right a.dropdown-toggle{
  background-color:#1D7FAA !important;
}
ul.nav.navbar-nav a{color:#fff !important;}

/*** Buttons ***/

.button{
  background-color:#FF9621;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
}
a.button{
  text-decoration: none;
  color:#fff;
}
.button:hover{
  background-color:#FCA94C;
}

.btn.btn-primary.white{
  background-color:#F2F2F2;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  color:#1D7FAA;
  font-weight: bold;
}
a.btn.btn-primary.white{
  text-decoration: none;
  color:#1D7FAA;
  font-weight: bold;
}
.btn.btn-primary.white:hover{
  background-color:#FF9621;
  color:#fff;
}

.large-text{
  font-size:70px;
  margin-bottom:20px;
  display: block;
  color:#fff;
}

.icon-menu{
  background-color: #62ABCB;
}

.icon-menu:hover{
  background-color: #f5f8fa;
  cursor: pointer;
}

.icon-options{
  margin-right: 50px;
}

/*** Reset margin and padding ***/

/*** Seperators ****/

hr.horizontal-break, hr.break {
    width: 50px;
    margin: 20px auto;
    display: block;
    height: 3px;
    background: #FF9621;
    border: none;
}