body{
	background-color:#e6e6e6;
}

.container{
	box-shadow: 0 1px 6px;
	-webkit-box-shadow: 0 1px 6px;
	background-color:#fff; 
}


/*** Navigation ***/

.navbar-brand{
	font-family: MonitoolTitle;
	font-size:30px;
	margin:auto;
	left:40%;
	left:calc(50% - 100px);
	position: absolute;
}
.navbar > .container .navbar-brand{
	margin-left:0px !important;
}

ul.nav.navbar-nav.navbar-right li:nth-child(2) a{
  background-color:#FCA94C;
	border-radius:5px;
	padding:5px;
	margin-top:7px;
	margin-right:20px;
}
ul.nav.navbar-nav.navbar-right li:nth-child(2) a:hover{
	font-weight: bold;
}
ul.nav.navbar-nav.navbar-right li:nth-child(1) a:hover{
	font-weight: bold;
}
ul.dropdown-menu{
  background-color:#1D7FAA;
  border:none !important;
  
}
ul.dropdown-menu li a:hover{
  background-color:#1D7FAA;
  font-weight: bold;
  
}
ul.nav.navbar-nav.navbar-right a.dropdown-toggle{
  background-color:#1D7FAA !important;
}

/*** Navigation ***/

#app .navbar .container{background-color:#1D7FAA; }
#app .navbar{margin-bottom:0px;}
#app .navbar-default{border-bottom:0px;background-color:transparent;}
#app .navbar a{color:#fff !important;}

/*** Slider ***/
.slider .content .large-text{
	
}

.slider .content .customh2{
	color:#fff;
	font-size:24px;
	
}
.slider .content{position: absolute;top:80px;width:100%;}
.slider .content > a{display: inline-block;}
.slider img{height:360px;width:100%;}

/*** Icon bar ***/

.icons{
	background-color:#1D7FAA;
	color:#fff;
	padding:20px;
}
.icons .description{
	width:50%;
	display: inline-block;
	text-align: justify;
}
.icons .title{
	font-weight: bold;
	font-size:140%;
	margin-bottom:4px;
}
.icons .icon{
	float:right;
	display: inline-block;
}
.contentrow{
	border:1px solid #000;
}

.smallheader{
	background-color:#FF9621;
	color:#fff;
	height: 10px;
}
.smallheader p{
	line-height: 40px;
	vertical-align: middle;
}
.contentblock1 p,
.contentblock2 p{
	font-size:17px;
}

.contentblock1{
	background:url("/monitool-repo/public/icons/4.png") no-repeat center; 
	padding:60px;
}
.contentblock2{
	background:url("../../public/icons/4.png") no-repeat center; 
	padding:60px;
}
.contentblock2{
	background:url("../../public/icons/5.png") no-repeat center; 
	padding:60px;
}

/*** Footer ***/

.footer{
	height:100px;
	background-color:#1D7FAA;
	border-top:10px solid #FF9621;
	padding-top:30px;
}
.footer a{
	color:#fff;
}

