//-----------------------------------
//              01. Mixins
//              02. Variable
//              03. Reset
//              04. Fonts
//              05. Base
//              06. Common classnames
//              07. Pages
//              08. Componenten
//              09. Styling
//              10. Responsive
//-----------------------------------

//-----------------------------------
//              Mixins
//-----------------------------------

@import "bundle/mixins";
//-----------------------------------
//              Variable
//-----------------------------------

@spacing:           1.2rem;
@font-size:         1.3rem;
@white:             #ffffff;
@black:             #000000;
@grey:              #4A4A4A;
@lightgrey:         #f7f7f7;
@red:               #f14343;
@orange:            #ff9900;
@blue:              #2391fe;
@green:             #a6ca00;
@hamburger:         @black;
@navigationBlack:   @black;
@navigationWhite:   @white;
@primcolor:         #527e9c;
@seccolor:          #ee6352;
@panelBackground:   #f5f5f5;
@panelBorder:       #e8e8e8;
@panelLine:         #979797;
@loginText:         #939393;
@loginSmall:        #818181;
@loginCircle:       rgba(193, 193, 193, 0.2);
@tabBackground:     #434343;
@formInput:         @white;
@text:              #717171;
@border:            #b0b0b0;
@shadow:            rgba(0, 0, 0, 0.39);

//-----------------------------------
//              Resets
//-----------------------------------

@import "bundle/reset";
@import "bundle/normalize";
//-----------------------------------
//              Fonts
//-----------------------------------

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

html{
    font-family: 'OpenSans', sans-serif;
    font-weight: normal;
    line-height: 1.5rem;
    color: darken(@text, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 2.5rem;
}

p {
    line-height: 1.5rem;
}

a,
a:active,
a:hover,
a:link,
a:visited {
    text-decoration: none;
}

//-----------------------------------
//              Base
//-----------------------------------

html, body{
    display: block;
    width: 100%;
    height: 100%;
}
body{
    position: relative;
}

.clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

input{
    .border-radius();
    width: 100%;
    padding: 0 0 0 @spacing*0.5;
    margin: @spacing*0.5 0;
    line-height: 2.6rem;
    color: @loginText;
    background-color: @formInput;
    font-size: 1.1rem;
    border: 1px solid #cfdae4;

    &:focus{
        outline: none;
        border-bottom: 2px solid @blue;
    }

    &::placeholder{
        color: @loginText;
    }
}

input[disabled="disabled"]{
    background: darken(@formInput, 10%);
}

button{
    .border-radius();
    .transition();
    display: block;
    padding: 0.8rem;
    background-color: @blue;
    border: none;
    color: @white;
    font-size: 0.8rem;
    font-weight: bold;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }
}

.alert{
    display: block;
    background: #1798de;
    padding: 1.2rem;
    text-align: center;
    color: @white;
    font-size: 1.6rem;
}

//-----------------------------------
//         Common classnames
//-----------------------------------


//-----------------------------------
//         Componenten
//-----------------------------------
.header{
    .displayflex();
    .justify-content(space-between);
    position: absolute;
    width: 100%;
    height: @spacing*3;
    padding: @spacing @spacing*2;
    color: @white;
    z-index: 1;
}

.navigation{
    .animation(fadein 0.8s);
    a{
        color: @white;
        border-bottom: 2px solid transparent;
        margin: 0 @spacing*0.5;

        &:hover{
            .transition(0.3s);
            border-bottom: 2px solid @white;
        }
    }
}


//-----------------------------------
//          Responsive
//-----------------------------------

@media all and (min-width: 2035px) {
}
// laptop L
@media all and (max-width: 1440px) {
	html {
		font-size: 95%;
	}
}
// laptop
@media all and (max-width: 1024px) {
	html {
		font-size: 85%;
	}
}
// tablet
@media all and (max-width: 768px) {
	html {
		font-size: 80%;
	}
}
@media all and (max-width: 704px) {

}

// mobile L
@media all and (max-width: 425px) {

}
// mobile M
@media all and (max-width: 375px) {}
// mobile S
@media all and (max-width: 320px) {}
