// variables
@white:#ffffff;
// end variables

// standard values
html {
  height: 100%;
}

body {
  min-height: 100%;
  width:100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(-135deg, #ce2e6a, #953294 50%, #4a30b1);
}
// end standard values

// login
.window {
  width:350px;
  height: 450px;
  border-radius: 20px;
  background:@white;
  margin: 0 auto;
}
// end login
