//-----------------------------------
//              01. Mixins
//              02. Variable
//              03. Reset
//              04. Fonts
//              05. Base
//              06. Common classnames
//              07. Componenten
//              08. Pages
//              09. Responsive
//-----------------------------------


//-----------------------------------
//              Mixins
//-----------------------------------

.size(@value){
  width:@value;
  height: @value;
}

//-----------------------------------
//              Variable
//-----------------------------------

// variables
@black:#000000;
@grey:#969696;
@white:#ffffff;
@darkwhite:#F5F5F5;
@blue:#148dfc;
@green:#66bb6a;
// end variables

//-----------------------------------
//              Fonts
//-----------------------------------

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color:@white;
}

//-----------------------------------
//              Base
//-----------------------------------

// standard values
html {
  height: 100%;
  font-family: 'Open Sans'sans-serif;
}

body {
  min-height: 100%;
  width:100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(-135deg, #ce2e6a, #953294 50%, #4a30b1);
}

.button {
  width:9rem;
  border-radius: 50px;
  padding: .5rem 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color:@black;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
  background: transparent;
  border: 1px solid @grey;
  margin:.2rem;
}
// end standard values

//-----------------------------------
//              Componenten
//-----------------------------------

// login top
.container {
  position: absolute;
  top: 50%;
  margin-top: -15rem;
  left: 0;
  width: 100%;
}

.window {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  width:22rem;
  height: 30rem;
  border-radius: 20px;
  background:@white;
  margin:0 auto;

  .top {
    background: @blue;
    width:100%;
    height: 5rem;
  }

// begin middle section
  .middle {
    width: 100%;
    background: @white;
    flex: 1;
    padding:2rem 0 0;

    .middle-block {
      width:19.05rem;
      margin:0 auto;
    }

    .svg-icon-small {
      padding:.5rem .5rem 0;
      float:left;
      fill:@grey;
      .size(1.5rem);
    }

    form {
      border:none;
      box-sizing:border-box;
      border-bottom:1x solid @grey;
      color:@grey;
      font-size: 16px;
    }


    .form-style {
      display: inline-block;
      width:15rem;
      margin:.3rem auto;

      input[type="text"],
      input[type="password"] {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: .5rem;
        border: none;
        border-bottom: 1px solid @grey;
        background: transparent;
        margin:0 0 0 1rem;
        height: 2rem;
        &:focus {
          border-bottom:2px solid @blue;
        }
      }

    }

    .buttons {
      display:block;
      padding:1.5rem 0 1.5rem;
      margin:auto;
      width: 19.05rem;

      .btn{
        .button;
        display: inline-block;

        &:hover {
          background: @blue;
          color:@white;
          border:1px solid @blue;
        }
      }
    }

// begin checkbox

// end checkbox
}
// end middle section
  .bottom {
    height: 6rem;
    background: @darkwhite;
  }

  .bottom-block {
    display: block;
    background: @white;
    width: 100%;
    height: 2.25rem;
    border:solid 1px @grey;

    a:link {
      text-decoration: none;
      color:@black;
    }

    a:hover {
      color:@blue;
    }
  }
}

.inner-top {
  padding:1rem 1rem 0;
}

.svg-icon {
  padding:.5rem .5rem 0;
  float:left;
  fill:@white;
  .size(2rem);
}
// end login
