body {
  font-family: 'Open Sans', sans-serif; }

h4 {
  margin: 0; }

.container-story {
  width: 1192px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.legend-block {
  color: white;
  width: 100%;
  text-align: center;
  margin: 100px 0; }
  .legend-block p {
    margin: 0;
    font-size: 16pt; }
  .legend-block h1 {
    font-size: 48pt;
    margin: 5px;
    padding-left: 100px;
    font-weight: normal;
    position: relative;
    display: inline-block;
    text-transform: uppercase; }
  .legend-block h1::before {
    content: url("/assets/img/Storyworld-Title-Icon.svg");
    width: 50px;
    position: absolute;
    left: 0;
    top: 8px;
    display: inline-block; }

.project-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .project-group .add-project-item {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    height: 250px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-transition: all 0.3s; }
    .project-group .add-project-item div {
      width: 100%;
      display: block; }
    .project-group .add-project-item i {
      font-size: 52pt;
      width: 80px;
      margin-left: auto;
      margin-right: auto;
      display: inline-block;
      text-align: center;
      color: white;
      content: url("/assets/img/Plus-Glyph.svg");
      -webkit-transition: all 0.3s; }
  .project-group .add-project-item:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12); }
    .project-group .add-project-item:hover i {
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .project-group .project-item {
    width: 31%;
    margin-right: 1%;
    margin-left: 1%;
    height: 250px;
    background: #f2f2f2;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 2%; }
    .project-group .project-item img {
      width: 100%;
      background: blue;
      display: block; }
    .project-group .project-item .cog {
      content: url("/assets/img/cog.svg");
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 11.5px;
      box-sizing: border-box;
      background: white;
      border-radius: 50%;
      float: right;
      cursor: pointer;
      position: absolute;
      bottom: 15px;
      right: 15px;
      -webkit-transition: all 0.3s; }
    .project-group .project-item .cog:hover {
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    .project-group .project-item .info-block {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 0.8);
      color: #111; }
      .project-group .project-item .info-block .information {
        display: inline-block;
        max-width: 60%; }
      .project-group .project-item .info-block p {
        font-style: italic;
        margin: 0;
        font-size: 10pt;
        display: inline-block; }
